html, body {
  height: 100%;
  background: #2B72BA;
}

.jumbotron {
  margin: 0px;
}

body > .container {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #FBFBFB;
  border: 5px solid #70C71A;
}

body > .container:first-of-type {
    border-bottom: none;
}

body > .container:last-of-type {
  margin-bottom: 15px;
  border-top: none;
}
