html, body {
  height: 100%;
  background: #2B72BA;
}

.jumbotron {
  margin: 0px;
}

.sidemenu ul.nav li a {
  padding: 5px 10px;
}

body > .container {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #FBFBFB;
  border: 5px solid #70C71A;
}

body > .container:first-of-type {
    border-bottom: none;
}

body > .container:last-of-type {
  margin-bottom: 15px;
  border-top: none;
}

section.question {
  color: rgb(100, 100, 100);
  font-size: 120%;
  margin-bottom: 1em;
  border-bottom: 1px solid rgb(255, 179, 128);
}

section.question:last-of-type {
  border-bottom: none;
}

section.question h4 {
  font-size: 120%;
  color: rgb(51, 51, 51);
}
